<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/jdbc 
		http://www.springframework.org/schema/jdbc/spring-jdbc-3.2.xsd">

	<bean id="dsPias" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="oracle.jdbc.OracleDriver"/>
		<property name="url" value="${dspias.url}"/>
		<property name="username" value="${dspias.username}"/>
		<property name="password" value="${dspias.password}"/>
		<property name="initialSize" value="${dspias.initialSize}"/>
		<property name="maxActive" value="${dspias.maxActive}"/>
		<property name="maxWait" value="${dspias.maxWait}"/>
	</bean>

	<!-- Creating TransactionManager Bean, since JDBC we are creating of type DataSourceTransactionManager -->
	<bean id="transactionManagerPias" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dsPias"/>
	</bean>

	<bean id="sqlSessionFactoryPias" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dsPias"/>
		<property name="configLocation" value="classpath:mybatis-config.xml"/>
		<property name="mapperLocations" value="classpath:pe/com/entel/regNomBlancoPIAS/persistence/pias/*.xml"/>
		<property name="typeAliasesPackage" value="pe.com.entel.regNomBlancoPIAS.bean" />
	</bean>

	<bean id="scannerPias" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="pe.com.entel.regNomBlancoPIAS.persistence.pias" />
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactoryPias" />
	</bean>
	
</beans>